body {
    color:rgb(255, 255, 255);
    background: pink;
    margin: 0px;
    font-family:"Bona Nova SC", serif;
    margin-bottom:100px;
}

header {
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 32px;
    color: pink;
}

.chamada {
    background: rgb(255, 88, 138) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}